---
import { getCollection } from "astro:content";
export const devlogDocCollection = await getCollection("devlog");
export const devlogSidebarList = devlogDocCollection.map((entry) => ({
	titleText: entry.data.title as string,
	descText: entry.data.description as string,
	dateText: entry.data.date.toLocaleDateString() as string,
}));
export let classCounter = 0;

let { futureTimelineElements } = Astro.props;
---

<div class="timeline-roadmap-container">
	<div class="center-line">
	</div>
	{
		futureTimelineElements.map(
			(child: { titleText: string; descText: string; dateText: string }) => {
				classCounter++;
				return (
					<div class={classCounter % 2 === 0 ? "row row-2" : "row row-1"}>
						<section class="future">
							<i class="icon fas fa-globe-dark" />
							<div class="details">
								<a class="title">{child.titleText}</a>
								<span>{child.dateText} </span>
							</div>
							<!-- <p>{child.descText}</p> -->
						</section>
					</div>
				);
			}
		)
	}
	{
		devlogSidebarList.map(
			(child: { titleText: string; descText: string; dateText: string }) => {
				classCounter++;
				return (
					<div class={classCounter % 2 === 0 ? "row row-2" : "row row-1"}>
						<section class="past">
							<i class="icon fas fa-globe" />
							<div class="details">
								<a href={"../devlog/"+child.titleText.toLowerCase().split(' ').join('-')} class="title">{child.titleText}</a>
								<span>{child.dateText}</span>
							</div>
							<!-- <p>{child.descText}</p> -->
						</section>
					</div>
				);
			}
		)
	}
</div>

<style>
	.timeline-roadmap-container {
		max-width: 1080px;
		margin: 50px auto;
		padding: 20px 20px;
		position: relative;
	}
	.timeline-roadmap-container .center-line {
		position: absolute;
		height: 100%;
		width: 4px;
		background: var(--theme-text-accent);
		left: 50%;
		transform: translateX(-50%);
	}
	.timeline-roadmap-container .row {
		display: flex;
	}
	.timeline-roadmap-container .row-1 {
		justify-content: flex-start;
	}
	.timeline-roadmap-container .row-2 {
		justify-content: flex-end;
	}
	.timeline-roadmap-container .row section {
		background: var(--theme-navbar-bg);
		border-radius: 5px;
		width: calc(50% - 40px);
		padding: 20px;
		position: relative;
		box-shadow: 0 0 var(--theme-glow-blur) var(--theme-glow-diffuse);
	}
	.timeline-roadmap-container .row section::before {
		position: absolute;
		content: "";
		height: 15px;
		width: 15px;
		background: var(--theme-navbar-bg);
		top: 28px;
		transform: rotate(45deg);
	}
	.timeline-roadmap-container .row section.future{
		background: var(--theme-code-bg);
	}
	.timeline-roadmap-container .row section.future::before{
		background: var(--theme-code-bg);
	}
	.row-1 section::before {
		right: -7px;
	}
	.row-2 section::before {
		left: -7px;
	}
	.row section .icon,
	.center-line .scroll-icon {
		position: absolute;
		background: var(--theme-code-bg);
		height: 40px;
		width: 40px;
		z-index: 5;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #3ea0e2;
		font-size: 17px;
		box-shadow: 0 0 0 4px var(--theme-text-accent); inset 0 2px 0 rgba(0, 0, 0, 0.08),
			0 3px 0 4px rgba(0, 0, 0, 0.05);
	}
	.row section.past .icon{
		background: var(--theme-code-ins-border);
	}
	.center-line .scroll-icon {
		bottom: 0px;
		left: 50%;
		font-size: 25px;
		transform: translateX(-50%);
	}
	.row-1 section .icon {
		top: 15px;
		right: -60px;
	}
	.row-2 section .icon {
		top: 15px;
		left: -60px;
	}
	.row section .details {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
	}
	.row section .details .title {
		font-size: 22px;
		font-weight: 600;
		font-weight: bold;
	}
	.row section p {
		margin: 10px 0 17px 0;
		text-align: center;
	}

	@media (max-width: 790px) {
		.timeline-roadmap-container .center-line {
			left: 40px;
		}
		.timeline-roadmap-container .row {
			margin: 30px 0 3px 60px;
		}
		.timeline-roadmap-container .row section {
			width: 100%;
		}
		.row-1 section::before {
			left: -7px;
		}
		.row-1 section .icon {
			left: -60px;
		}
	}
	@media (max-width: 300px) {
		.timeline-roadmap-container .center-line,
		.row section::before,
		.row section .icon {
			display: none;
		}
		.timeline-roadmap-container .row {
			margin: 10px 0;
		}
	}
</style>
